--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
streamlit
groq
pydantic
python-dotenv
requests
transformers
torch
scikit-learn
numpy
pandas
sentence-transformers
instructor
plotly
dspy
requests
sentencepiece